@import 'reset.scss';

html,body {
  height: 90%;
}
main {
  height: 80%;
}

header {
  width: 100%;
  height: 20%;
  background-color: #F96140;
}

.btnClear {
  float: right;
}

.timeContainer {
  text-align: center;
  font-size: 2rem;
  color: white;
  padding-top: 5%;

}

.wrapperTime {
  width: 80%;
  height: 30%;
  margin: auto;
}

.fieldInput {
  margin-left: 20px;
}

.wrapperInputs {
  width: 100%;
  height: 100px;
}

.event {
  span{
    font-size: 1.25rem;
  }
  width: 950px;
  height: 25px;
  margin-top: 33px;
  margin-left: 15px;
  border-bottom: 1px solid #F96140;
  outline-offset: 20px;
  position: relative;
}

/*.button {
  position: absolute;
  left: 25%;
}*/